@{
   ViewBag.Title ="EmpIndex";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employee Details Listed Below</title>
   
    <style> table, th, td {border: 1px solid black;border-collapse: collapse; } </style>
</head>

<body>
    <div ng-app="myApp" ng-controller="EmpCtrl">
        <table style="border:1px solid gray;">
           <tr>@DateTime.Now</tr>
             <tr>
                <th>SL.NO</th>
                <th>Employee FN</th>
                <th>Employee LN</th>
                <th>Project Name</th>
                <th>Project Status</th>
                <th>Experience Level</th>
            </tr>
            <tr ng-repeat="emp in employees">
                <td>{{emp.ID}}</td>
                <td>{{emp.FirstName}}</td>
                <td>{{emp.LastName}}</td>
                <td>{{emp.ProjectTitle}}</td>
                <td>{{emp.ProjectStatus}}</td>
                <td>{{emp.ExpLevel}}</td>
            </tr>
        </table>
    </div>
</body>
</html>
@section scripts{
    <script src="~/Scripts/Controllers/EmpCtrl.js"></script>
}